@tailwind base;
@tailwind components;
@tailwind utilities;

.MV-boli{
    font-family: "MV Boli";
}

.backgroundImg{
    background-image: url("../assets/bg-img/02.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.visibleItem{
    display: flex;
    color: red;
    font-size: 1.25rem;
    padding: 0;
    margin:0;
}

.gradient-text {
    background-clip: text;
    color: transparent;
}

.fullElt{
    min-width: 0;
}

@layer utilities {
    .gradient-text:hover {
      background-clip: text;
      color: transparent;
      background-image: linear-gradient(to right, #69caeb,#ce21e1); /* Remplacez les couleurs selon vos préférences */
    }
}

.animated-text {
    font-size: 2rem;
    font-family: "MV Boli";
}

@keyframes textAnimation {
    from {
      width: 0;
    }
  }
/* Here a mixin in scss is a better idea for the cursors*/

.cursor {
    width: 1rem;
    height: 1rem;
    background-color: whitesmoke;
    border-radius: 100%;
}

.cursor1{
    width: 1rem;
    height: 1rem;
    background-color: whitesmoke;
    border-radius: 100%;

}
/* Another mixin here would be welcome ... */
.calcImg{
    background-image: url("../assets/gridProjects/calc.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.weatherImg{
    background-image: url("../assets/gridProjects/weather.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
  
.snakeImg{
    background-image: url("../assets/gridProjects/snake.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

.ticImg{
    background-image: url("../assets/gridProjects/tic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

.rpsImg{
    background-image: url("../assets/gridProjects/rps.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

.sliderImg{
    background-image: url("../assets/gridProjects/slider.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

.stopwatchImg{
    background-image: url("../assets/gridProjects/stopwatch.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

.clockImg{
    background-image: url("../assets/gridProjects/clock.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

.todoImg{
    background-image: url("../assets/gridProjects/todo.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

body::-webkit-scrollbar{
    width: 0.25rem;
}

body::-webkit-scrollbar-track{
    background-color: #1e1e24;
}

body::-webkit-scrollbar-thumb{
    background: #6649b8;
}

.transit{
    transition: height 300ms ease-in-out;
    height: 0;
}
.transit-final{
    display: flex;
    height: 20rem;
}