@tailwind base;
@tailwind components;
@tailwind utilities;

.MV-boli {
  font-family: "MV Boli";
}

.seven-segment {
  font-family: "seven segment";
}
.consolas {
  font-family: "consolas";
}
.permanent-marker {
  font-family: "permanent Marker";
}
.backgroundImg {
  background-image: url("../assets/bg-img/02.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.visibleItem {
  display: flex;
  color: red;
  font-size: 1.25rem;
  padding: 0;
  margin: 0;
}

.gradient-text {
  background-clip: text;
  color: transparent;
}

.fullElt {
  min-width: 0;
}

@layer utilities {
  .gradient-text:hover {
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #69caeb, #ce21e1);
  }
}

.animated-text {
  font-size: 2rem;
  font-family: "MV Boli";
}

@keyframes textAnimation {
  from {
    width: 0;
  }
}
/* Here a mixin in scss is a better idea for the cursors*/
/* In resume, two mixins : one for the cursors and the other for all customized bg */
.cursor {
  width: 1rem;
  height: 1rem;
  background-color: whitesmoke;
  border-radius: 100%;
}

.cursor1 {
  width: 1rem;
  height: 1rem;
  background-color: whitesmoke;
  border-radius: 100%;
}
/* Another mixin here would be welcome ... */
.calcImg {
  background-image: url("../assets/gridProjects/calc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.weatherImg {
  background-image: url("../assets/gridProjects/weather.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.snakeImg {
  background-image: url("../assets/gridProjects/snake.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.ticImg {
  background-image: url("../assets/gridProjects/tic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.rpsImg {
  background-image: url("../assets/gridProjects/rps.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.sliderImg {
  background-image: url("../assets/gridProjects/slider.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.stopwatchImg {
  background-image: url("../assets/gridProjects/stopwatch.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.clockImg {
  background-image: url("../assets/gridProjects/clock.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.todoImg {
  background-image: url("../assets/gridProjects/todo.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.spaceImg {
  background-image: url("../projects/space_calculator/blackSky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.snakeImg {
  background-image: url("../projects/snake_game/img/snake.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.weatherDayImg {
  background-image: url("../projects/fetch-weather-app/img/01.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: black;
}

.weatherNightImg {
  background-image: url("../projects/fetch-weather-app/img/02.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
}
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background-color: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

.transit {
  transition: height 300ms ease-in-out;
  height: 0;
}
.transit-final {
  display: flex;
  height: 20rem;
}
.calc-border {
  border-right: 5px outset rgb(150, 138, 138);
  border-bottom: 10px outset rgb(62, 59, 59);
}
.calc-gradient {
  background: linear-gradient(
    23deg,
    hsla(106, 63%, 57%, 0.664),
    pink,
    rgba(211, 211, 27, 0.632)
  );
  backdrop-filter: blur(10px);
}
