@tailwind base;
@tailwind components;
@tailwind utilities;

.MV-boli{
    font-family: "MV Boli";
}

.backgroundImg{
    background-image: url("../assets/bg-img/02.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

